!!!
%html
  %head
    %title Chat
    - SCRIPTS.each do |src|
      %script{ type: 'text/javascript', src: src }
  %body
    .form
      %label{ for: 'user' } User:
      %input{ type: 'text', id: 'user', name: 'user' }
      %label{ for: 'message' } Message:
      %input{ type: 'text', id: 'message', name: 'message' }
      %input{ type: 'button', id: 'send', value: 'Send.' }
    %ul#messages
